---
import {Directus} from "@directus/sdk"
import Layout from "@layouts/layout.astro"
import DTitle from "@components/DTitle.vue"
import Subtitle from "@components/Subtitle.vue"
import Whatsapp from "@components/Whatsapp.vue"
import BookButton from "@components/BookButton.vue"

// src/pages/doctors/listing/[...payload].astro
export async function getStaticPaths() {
  const data_url = import.meta.env.PUBLIC_CMS
  const directus = new Directus(data_url)
  const specialists_data = await directus.items('specialists').readByQuery({
    limit:-1,
    fields:["name,doctors.location.name"]
  }).catch()

  const specialists = specialists_data.data

  let store = []

  specialists.map((item) => {
    let data = {}
    data.params = {}
    data.params.payload = `${item.doctors[0].location.name}/${item.name}`
    store.push(data)
  })
  
  return store
}

const {payload} = Astro.params

const params = payload.split('/')

const directus = new Directus(import.meta.env.PUBLIC_CMS)

const specialists_data = await directus.items('doctors').readByQuery({
	filter:{
		"_and":[
			{
				"status":{
					"_eq":"published"
				}
			},
			{
				"location":{
					"name":{
						"_eq": params[0]
					}
				}
			},
			{
				"type":{
					"name":{
						"_eq": params[1]
					}
				}
			}
		],
	},
	fields:['id,details,avatar,slug']
})

const specialists = specialists_data.data
---
<Layout title="Medical Specialists" description="Find a medical doctor from the comfort of your phone">
  <section class="container mx-auto p-4 mt-16 mb-6">
    <DTitle text="Available medical specialist" />
    <Subtitle text="These are highly qualified medical practitioners fully registered by the Government of Kenya" />
    <div class="grid sm:grid-cols-2 md:grid-cols-1 gap-4">
    	{
    		specialists.map((item) => (
		      <div class="p-1 xl:p-4 md:flex md:space-x-6 bg-stone-200 dark:bg-stone-800 shadow-md rounded-lg">
						<div class="mb-6 md:h-64 md:w-64 sm:mb-0">
							<img src={`${import.meta.env.PUBLIC_CMS}assets/${item.avatar}`} alt={item.details[0].name} class="object-cover object-center w-full h-full rounded" />
						</div>
						<div class="flex flex-wrap flex-col space-y-4">
							<div>
								<h2 class="text-2xl font-semibold text-sky-600">
									{item.details[0].name}
								</h2>
								<span class="text-lg">
									{item.details[0].discipline} | {item.details[0].type_of_practice}
								</span>
							</div>
							<div class="space-y-3">
								<span class="flex items-center flex-wrap space-x-2">
									<span class="font-semibold text-sky-600">Registration Number:</span>
									<span class="text-sm">
										{item.details[0].registration_number}
									</span>
								</span>
								<span class="flex items-center flex-wrap space-x-2">
									<span class="font-semibold text-sky-600">Service type:</span>
									<span class="text-sm">
										{item.details[0].service_type}
									</span>
								</span>
								<span class="flex items-center flex-wrap space-x-2">
									<span class="font-semibold text-sky-600">Provider Location:</span>
									<span class="text-sm">
										{item.details[0].provider_location}
									</span>
								</span>
								<span class="flex items-center flex-wrap space-x-2">
									<span class="font-semibold text-sky-600">Qualifications:</span>
									<span class="text-sm">
										{item.details[0].qualifications}
									</span>
								</span>
								
								<BookButton 
									client:load
									specialist={item.slug}
								/>
					
							</div>
						</div>
					</div>
    		))
    	}
		</div>
  </section>
  
	<Whatsapp client:load />
</Layout>
