---
import Layout from "@layouts/layout.astro"
import DTitle from "@components/DTitle.vue"
import Whatsapp from "@components/Whatsapp.vue"
import {Directus} from "@directus/sdk"
import ProductSearch from "@components/ProductSearch.vue"
import Products from "@components/Products.vue"

const url = import.meta.env.PUBLIC_CMS
const directus = new Directus(url)
const store_category = await directus.items('equipment_category').readByQuery({
	filter:{
		"_and":[
			{
				"status":{
					"_eq":"published"
				}
			},
			{
				"type":{
					"_contains":"hire"
				}
			}
		]
	},
	limit:150,
	sort:"name"
}).catch()

const store_product = await directus.items('equipment').readByQuery({
	filter:{
		"_and":[
			{
				"status":{
					"_eq":"published"
				}
			},
			{
				"category":{
					"slug":{
						"_eq":"hospital-or-home-care-beds"
					}
				}
			},
			{
				"type":{
					"_contains":"hire"
				}
			}
		]
	},
	fields:['name,slug,images.directus_files_id,category.name'],
	limit:150,
	sort:"-date_created"
}).catch()

const categories = store_category.data
const products = store_product.data
---
<Layout title="Medical equipment for hire" description="Find medical equipment for hire in Nairobi at affordable prices. Our products are of the highest quality.">
	<div class="container mx-auto px-2 py-4 mt-16">
		
		<DTitle text="Equipment for hire" />
  	
  	<h2 class="text-2xl text-stone-800 dark:text-white capitalize font-semibold text-center mt-2 mb-6">
      {products[0].category.name}
    </h2>
    
    <ProductSearch 
    	client:load 
    	url={url}
    	type="sale"
    />
    
    <Products 
    	type="hire"
    	categories={categories}
    	products={products}
    	url={url}
    	lcategory={products[0].category.slug}
    />

  </div>
  
  <Whatsapp client:load />

</Layout>
